<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= food.name %> </h1>
    <ul>
        <li>Price: <%= food.price %> </li>
        <li>Quantity: <%= food.quantity %> </li>
        <li>Category: <%= food.category %> </li>
    </ul>

    <a href="/foodies">Menu</a>
    <a href="/foodies/<%=food._id%>/edit">Edit Item</a>

    <form action="/foodies/<%=food._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>